<div class="ui secondary  menu">
  <a class="item" href='/'>Home</a>
  <a class="item" href='/snacks'>Snack Reviews</a>
  <a class="item" href='/snacks/new'>Create a Review</a>
  <a class="item" href='/snacks/edit'>Edit a Review</a>
  <a class="item" href='/snacks/delete'>Delete a Review</a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    <a class="ui item">
      Logout
    </a>
  </div>
</div>
